/* CSS Document */
h1 {font-family: 'Ubuntu', serif; font-size: 22px;
line-height: 50px; color: #000000}
h2 {font-family: 'Ubuntu', serif; font-size: 15px;
line-height: 25px; color: #000000}

font {  font-family: 'Droid Sans', sans-serif;
 font-size: 10px}
p {font-family: 'Droid Sans', sans-serif;
 font-size: 10px}
body {  	font-family: 'Droid Sans', sans-serif;
font-size: 12px; color: #000000;
line-height: 20px;}

A:link {text-decoration: none; color: #737272;}
A:visited {text-decoration: none; color: #737272;}
A:active {text-decoration: none; color: #737272;}
A:hover {text-decoration: underline; color: #737272;}
* { padding: 0; margin: 0; }

body {
background-color: #ffffff;
}
#wrapper {
margin: 50 auto 50 auto;
width: 800px;

}

#header {
	background: #ffffff;
	float: left;
	width: 800px;
	height: 100px;
	border-bottom: 1px solid #000000;
background-image:url('logo.png');
background-position: left bottom;
background-repeat: no-repeat;
	display:block;
	border-bottom: 2px solid #000000;

}
#footer {
height: 100px;
clear: both;

}
p.footertext {
text-align: center;
color: #4A4A4A;
text-height: 40px;

}
.push {
height: 100px;
clear: both;
}
/*
.tag_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
 	color: #000066;
}
.tag_header1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #663333;
}
*/


	
#left {
float: left;
width: 150px ;
	background: #ffffff;
}
#center {
	background: #ffffff;
	float: left;
	width: 625px;
	padding: 10px;
	min-height: 400px;
		border-left: 2px solid #000000;

}


ul#nav {
	list-style:none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	
}


ul#nav li a:link, ul#nav li a:visited {
	display: block;
	width: 88%;
	padding: 10px 6%;
	background-color: #ffffff;
	text-decoration: none;
	font-family: 'Ubuntu', serif;
	font-size:13px;
	color: #000000;
		text-transform: lowercase;
	


}



ul#nav li {
	border-bottom: 1 px solid #ffffff;
		border-top: 1 px solid #ffffff;

}

ul#nav li a:hover,  {
	background-color: #F5F5F5;
	color: #000000;
}



/* Format Tables */
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #e6dbb4;
	border-collapse: collapse;
}
table.list {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-collapse: collapse;
}
table th {border-bottom: 5 px solid #8d9e69;
color: 8d9e69;
font-size: 14px;}
table.list td {border-bottom: 2 px solid #e6dbb4;}
table.contact {
	font-family: 'Ubuntu', serif;
	size: 15px; color: #000000;
line-height: 20px;
}


/*
#clear
{
	clear: both;
}
*/

ul#links {
	list-style:none;
	margin: 0;
	padding: 0;
}


ul#links li a:link, ul#links li a:visited {
	text-decoration: none;
	display: block;
	width: 88%;
	padding: 10px 6%;
	background-color: #ffffff;
	font-family: 'Droid Sans', serif;
	font-size:13px;
	color: #000000;

}


ul#links li a:hover {
	background-color: #F5F5F5;
	color: #000000;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 30px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
		float: left;
		width: 520px;
		

}


.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

HR {
    height:1px;
    width:100%;
    background-color:#D6D6D6;
	color:#D6D6D6;

    margin: 0 0 10px 0;
	  border: 0;
  
   }
ul.cv {
	list-style:disc;
	margin: 0;
	padding-left: 20px;
}
ul.cv2 {
	list-style:circle;
	margin: 0;
	padding-left: 30px;
}
ul.cv3 {
	list-style:square;
	margin: 0;
	padding-left: 40px;
}

